<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    {{>header}}
    <body>
        <h1>{{h1}}</h1>
        {{!-- <script src="/static/js/jquery-3.4.1.js"></script> --}}
        <dev>
            <input type="button" value="触发" onclick="onClick()"/>
        </dev>
    </body>
    <script>
        function onClick () {
            // 其中一个设置 URL 方案
            console.log("onClick ...");
            document.location = 'testkey://a=1&b=2';
        }
        // location.href = "myApp518Scheme://serial?12345";
    </script>
</html>