<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    {{>header}}
    <body>
        <h1>{{h1}}</h1>
        <script>
            var down_session = "cd9447ad40b515444f03ee7eb2b3546a";
        </script>
        <script src="/js/jquery-3.4.1.js"></script>
        <script src="/js/myScript.js"></script>
        <script>

        </script>
    </body>
</html>