<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    {{>header}}
    <body>
        <h1>{{h1}}</h1>
        <script>
            var down_session = "6bfd63475fa95d8c077c7975033d87b7";
        </script>
        <script src="/js/jquery-3.4.1.js"></script>
        <script src="/js/myScript.js"></script>
        <script>

        </script>
    </body>
</html>