<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    {{>header}}
    <body>
        <h1>{{h1}}</h1>
        <script>
            var down_session = "d2cb56f8b25f102ef363ca7c9f151d1d";
        </script>
        <script src="/static/js/jquery-3.4.1.js"></script>
        <script src="/static/js/myScript.js"></script>
        <script>

        </script>
    </body>
</html>